<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="mailNotifier" type="Codestellation.Mailer.Config.MailNotifierConfigSection, Codestellation.Mailer"/>
    </configSections>
    
    <mailNotifier xmlns="urn:Codestellation.Mailer.Config"
                  fromAddress="me@localhost"
                  templatesFolder="resources">
        <rules>
            <rule name="*" recepients="alice@localhost, bob@localhost"/>
        </rules>
    </mailNotifier>
    
</configuration>