<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="ether" type="Codestellation.Ether.Config.EtherConfigSection, Codestellation.Ether"/>
    </configSections>

    <ether xmlns="urn:Codestellation.Ether.Config"
                  fromAddress="me@localhost"
                  templatesFolder="resources">
        <rules>
            <rule name="*" recepients="alice@localhost, bob@localhost, admins"/>
        </rules>

        <groups>
            <group name="admins" participants="carol@localhost, dave@localhost"/>
        </groups>
        
    </ether>
    
</configuration>